body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  --primary-color-1: #495E57;
  --primary-color-2: #F4CE14;
  --secondary-color-1: #EE9972;
  --secondary-color-2: #FBDABB;
  --secondary-color-3: #EDEFEE;
  --secondary-color-4: #333333;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header header header header header header header header header "
    "main main main main main main main main main main main main"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
}

.header{
  justify-self: center;
  grid-area: header;
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 10vh;
}

.main {
  grid-area: main;
  display: flex;
  width: 100%;
}

.footer {
  grid-area: footer;
  background-color: var(--primary-color-1);
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-template-rows: auto;
  width: 100%;
}

.footer-logo {
  width: 100px;
  align-self: center;
  justify-self: center;
}

.logo {
  width: 100%;
  height: 100%;
  align-self: center;
}

.hamburger-menu {
  justify-self: left;
  align-self: center;
}

.nav {
  align-self: center;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.nav-list-item {
  justify-self: center;
}

.footer-list {
  list-style-type: none;
  padding: 0;
}

a {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: 16pt;
  text-decoration: none;
  color: black;
}

h1 {
  font-family: 'Markazi', serif;
  font-weight: medium;
  font-size: 64pt;
}

h2 {
  font-family: 'Markazi', serif;
  font-weight: normal;
  font-size: 40pt;
}

h3 {
  font-family: 'Karla', sans-serif;
  font-weight: bolder;
  font-size: 20pt;
  text-transform: uppercase;
}

h4 {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: 18pt;
}

h5 {
  font-family: 'Karla', sans-serif;
  font-weight: medium;
  font-size: 18pt;
}

h6 {
  font-family: 'Karla', sans-serif;
  font-weight: bolder;
  font-size: 16pt;
}


p {
  font-family: 'Karla', sans-serif;
  font-weight: normal;
  font-size: 16pt;
  line-height: 1.5;
}

span {
  font-family: 'Karla', sans-serif;
  font-weight: medium;
  font-size: 16pt;
  color: var(--secondary-color-1)
}

/*
TODO Check module 2 Exercise: Styling elements
ul {

}

nav {

}

li {

}

img {
}
*/

.homepage-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero-background {
  width: 100%;
  background-color: var(--primary-color-1);
}

.hero-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 1rem;
  margin-bottom: 5rem;
  height: 400px;
}

.hero-info {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-top: 1rem;
}

.hero-title {
  color: var(--primary-color-2);
  text-wrap: nowrap;
  margin-bottom: 0;
  margin-top: 0;
}

.hero-subtitle {
  color: var(--secondary-color-3);
  margin-bottom: 0;
  margin-top: 0;
}

.hero-description {
  color: var(--secondary-color-3);
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.hero-button {
  background-color: var(--primary-color-2);
  border-radius: 16px;
  border: 0 none black;
  text-align: center;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.hero-image-container {
  overflow: visible;
  margin-top:  5rem;
  margin-left: auto;
  border-radius: 16px;
}

.hero-image {
  border-radius: 16px;
}

.specials-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
}

.specials-header {
  display: flex;
  flex-direction: row;
}

.specials-menu-button {
  background-color: var(--primary-color-2);
  border-radius: 16px;
  border: 0 none black;
  text-align: center;
}